{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/#sourse"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "httpdocs",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1592177001339.0337,
          "ctimeMs": 1592177001339.0337,
          "date": "2020-06-14T23:23:39.289Z"
        },
        {
          "file": "payments.html",
          "mtimeMs": 1592177014062.7212,
          "ctimeMs": 1592177014062.7212,
          "date": "2020-06-14T23:23:40.180Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:23:40.429Z"
        },
        {
          "file": "#sourse/blocks/advantages.html",
          "mtimeMs": 1590680050119.5586,
          "ctimeMs": 1590680050119.5586,
          "date": "2020-05-28T18:20:22.757Z"
        },
        {
          "file": "#sourse/blocks/faq.html",
          "mtimeMs": 1590680050119.5586,
          "ctimeMs": 1590680050119.5586,
          "date": "2020-05-28T18:20:24.317Z"
        },
        {
          "file": "#sourse/blocks/footer.html",
          "mtimeMs": 1590680050119.5586,
          "ctimeMs": 1590680050119.5586,
          "date": "2020-05-28T18:20:24.979Z"
        },
        {
          "file": "#sourse/blocks/form.html",
          "mtimeMs": 1590680050119.5586,
          "ctimeMs": 1590680050119.5586,
          "date": "2020-05-28T18:20:27.322Z"
        },
        {
          "file": "#sourse/blocks/header.html",
          "mtimeMs": 1590687666489.1135,
          "ctimeMs": 1590687666489.1135,
          "date": "2020-05-28T18:20:28.218Z"
        },
        {
          "file": "#sourse/blocks/map.html",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T18:20:29.168Z"
        },
        {
          "file": "#sourse/blocks/offer.html",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:54.561Z"
        },
        {
          "file": "#sourse/blocks/partners.html",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:54.779Z"
        },
        {
          "file": "#sourse/js/burger.js",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:55.015Z"
        },
        {
          "file": "#sourse/js/main.js",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:55.238Z"
        },
        {
          "file": "#sourse/js/phone-mask.js",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:55.488Z"
        },
        {
          "file": "#sourse/js/script.js",
          "mtimeMs": 1590680050123.5586,
          "ctimeMs": 1590680050123.5586,
          "date": "2020-05-28T17:43:55.734Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1592176819544.6147,
          "ctimeMs": 1592176819544.6147,
          "date": "2020-06-14T23:23:43.283Z"
        },
        {
          "file": "fonts/Golos/GolosText-Black.eot",
          "mtimeMs": 1592094459872.0166,
          "ctimeMs": 1592094459872.0166,
          "date": "2020-06-14T23:23:44.185Z"
        },
        {
          "file": "fonts/Golos/GolosText-Black.ttf",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:45.113Z"
        },
        {
          "file": "fonts/Golos/GolosText-Black.woff",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:45.708Z"
        },
        {
          "file": "fonts/Golos/GolosText-Black.woff2",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:46.215Z"
        },
        {
          "file": "fonts/Golos/GolosText-Bold.eot",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:47.094Z"
        },
        {
          "file": "fonts/Golos/GolosText-Bold.ttf",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:48.027Z"
        },
        {
          "file": "fonts/Golos/GolosText-Bold.woff",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:49.283Z"
        },
        {
          "file": "fonts/Golos/GolosText-Bold.woff2",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:50.375Z"
        },
        {
          "file": "fonts/Golos/GolosText-DemiBold.eot",
          "mtimeMs": 1592094459876.0195,
          "ctimeMs": 1592094459876.0195,
          "date": "2020-06-14T23:23:52.245Z"
        },
        {
          "file": "fonts/Golos/GolosText-DemiBold.ttf",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:54.076Z"
        },
        {
          "file": "fonts/Golos/GolosText-DemiBold.woff",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:55.567Z"
        },
        {
          "file": "fonts/Golos/GolosText-DemiBold.woff2",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:56.018Z"
        },
        {
          "file": "fonts/Golos/GolosText-Medium.eot",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:56.868Z"
        },
        {
          "file": "fonts/Golos/GolosText-Medium.ttf",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:58.190Z"
        },
        {
          "file": "fonts/Golos/GolosText-Medium.woff",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:59.009Z"
        },
        {
          "file": "fonts/Golos/GolosText-Medium.woff2",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:23:59.897Z"
        },
        {
          "file": "fonts/Golos/GolosText-Regular.eot",
          "mtimeMs": 1592094459880.0225,
          "ctimeMs": 1592094459880.0225,
          "date": "2020-06-14T23:24:01.953Z"
        },
        {
          "file": "fonts/Golos/GolosText-Regular.ttf",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:03.605Z"
        },
        {
          "file": "fonts/Golos/GolosText-Regular.woff",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:05.293Z"
        },
        {
          "file": "fonts/Golos/GolosText-Regular.woff2",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:05.751Z"
        },
        {
          "file": "fonts/Golos/stylesheet.css",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:05.997Z"
        },
        {
          "file": "img/Arrow.svg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:06.212Z"
        },
        {
          "file": "img/arrow_left.svg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:06.407Z"
        },
        {
          "file": "img/arrow_right-white.svg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:06.757Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:07.626Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:09.449Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1592164597642.3735,
          "ctimeMs": 1592164597642.3735,
          "date": "2020-06-14T23:24:17.011Z"
        },
        {
          "file": "img/footer_background.jpg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:10.042Z"
        },
        {
          "file": "img/form-car.jpg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:10.531Z"
        },
        {
          "file": "img/logo.jpg",
          "mtimeMs": 1592165992738.1995,
          "ctimeMs": 1592165992738.1995,
          "date": "2020-06-14T23:24:10.744Z"
        },
        {
          "file": "img/main_car.jpg",
          "mtimeMs": 1592165611183.1084,
          "ctimeMs": 1592165611183.1084,
          "date": "2020-06-14T23:24:11.192Z"
        },
        {
          "file": "img/payments.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:12.146Z"
        },
        {
          "file": "img/text_clip.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:13.279Z"
        },
        {
          "file": "img/partners/acko.jpg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:13.586Z"
        },
        {
          "file": "img/partners/amanat.jpg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:13.858Z"
        },
        {
          "file": "img/partners/enck.jpg",
          "mtimeMs": 1592094459884.0254,
          "ctimeMs": 1592094459884.0254,
          "date": "2020-06-14T23:24:14.166Z"
        },
        {
          "file": "img/partners/eurasia.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:14.509Z"
        },
        {
          "file": "img/partners/halyk.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:14.816Z"
        },
        {
          "file": "img/partners/jysan_garant.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:15.131Z"
        },
        {
          "file": "img/partners/kommesk.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:15.412Z"
        },
        {
          "file": "img/partners/london_almaty.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:15.729Z"
        },
        {
          "file": "img/partners/nomad.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:16.062Z"
        },
        {
          "file": "img/partners/victoria.jpg",
          "mtimeMs": 1592094459888.0283,
          "ctimeMs": 1592094459888.0283,
          "date": "2020-06-14T23:24:16.370Z"
        },
        {
          "file": "css/float_action_button.css",
          "mtimeMs": 1592169743107.8274,
          "ctimeMs": 1592169743107.8274,
          "date": "2020-06-14T23:23:42.877Z"
        },
        {
          "file": "img/offer_img.png",
          "mtimeMs": 1592171824468.8364,
          "ctimeMs": 1592171824468.8364,
          "date": "2020-06-14T23:24:11.450Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "tab",
        "indentWidth": 1,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 5,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ],
          "relativePath": "../../css"
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "#sourse/index.kit",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "#sourse/js/jquery-input-mask-phone-number.min.js",
        "config": {
          "customOutput": "js\\main.js",
          "autoCompile": true
        }
      },
      {
        "file": "#sourse/js/main.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/main.js",
          "tasks": {
            "concat-js": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "#sourse/js/phone-mask.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "#sourse/js/script.js",
        "config": {
          "compileImported": true,
          "customOutput": "#sourse\\js\\script-dist.js"
        }
      },
      {
        "file": "#sourse/js/slider.js",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "#sourse/payments.kit",
        "config": {
          "customOutput": "payments.html"
        }
      },
      {
        "file": "#sourse/scss/payments.scss",
        "config": {
          "compileImported": true,
          "autoCompile": false
        }
      },
      {
        "file": "#sourse/scss/util/variables.scss",
        "config": {
          "customOutput": "css/variables.css"
        }
      },
      {
        "file": "img/3156704 1.jpg",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 220531
        }
      },
      {
        "file": "img/Arrow.svg",
        "config": {
          "originalSize": 469,
          "optimized": true,
          "preserveOriginal": false
        }
      },
      {
        "file": "img/Logo.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5806,
          "optimized": true
        }
      },
      {
        "file": "img/Logo.png",
        "config": {
          "originalSize": 4528,
          "optimized": true
        }
      },
      {
        "file": "img/advantages.png",
        "config": {
          "originalSize": 1084782,
          "optimized": true
        }
      },
      {
        "file": "img/arrow_left.svg",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 230
        }
      },
      {
        "file": "img/arrow_right-white.svg",
        "config": {
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 232
        }
      },
      {
        "file": "img/flags.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 70857
        }
      },
      {
        "file": "img/flags@2x.png",
        "config": {
          "originalSize": 174369
        }
      },
      {
        "file": "img/footer_background.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 86169,
          "optimized": true
        }
      },
      {
        "file": "img/footer_background.png",
        "config": {
          "originalSize": 251256,
          "optimized": true
        }
      },
      {
        "file": "img/form-car.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 81
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 28944
        }
      },
      {
        "file": "img/form-car.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 80
              }
            }
          },
          "originalSize": 398998,
          "optimized": true
        }
      },
      {
        "file": "img/logo-header 1.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 24888,
          "optimized": true
        }
      },
      {
        "file": "img/logo.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 72
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 8925
        }
      },
      {
        "file": "img/main_car.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 75
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 175864
        }
      },
      {
        "file": "img/main_car.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 80
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 92783
        }
      },
      {
        "file": "img/offer_img.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 82
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 33011,
          "optimized": true
        }
      },
      {
        "file": "img/offer_img.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 26704,
          "optimized": true
        }
      },
      {
        "file": "img/partners/acko.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8880,
          "optimized": true
        }
      },
      {
        "file": "img/partners/acko.png",
        "config": {
          "originalSize": 11415,
          "optimized": true
        }
      },
      {
        "file": "img/partners/amanat.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5129,
          "optimized": true
        }
      },
      {
        "file": "img/partners/amanat.png",
        "config": {
          "originalSize": 8042,
          "optimized": true
        }
      },
      {
        "file": "img/partners/enck.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8754,
          "optimized": true
        }
      },
      {
        "file": "img/partners/enck.png",
        "config": {
          "originalSize": 11721,
          "optimized": true
        }
      },
      {
        "file": "img/partners/eurasia.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 12531,
          "optimized": true
        }
      },
      {
        "file": "img/partners/eurasia.png",
        "config": {
          "originalSize": 14287,
          "optimized": true
        }
      },
      {
        "file": "img/partners/halyk.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8588,
          "optimized": true
        }
      },
      {
        "file": "img/partners/halyk.png",
        "config": {
          "originalSize": 9488,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 1.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 34368,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 10.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 23829,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 2.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 26813,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 3.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 22286,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 4.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 30883,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 5.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 22615,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 6.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 14928,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 7.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 24300,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 8.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 13681,
          "optimized": true
        }
      },
      {
        "file": "img/partners/image 9.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 9278,
          "optimized": true
        }
      },
      {
        "file": "img/partners/jysan garant.png",
        "config": {
          "originalSize": 8552,
          "optimized": true
        }
      },
      {
        "file": "img/partners/jysan_garant.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 10076,
          "optimized": true
        }
      },
      {
        "file": "img/partners/kommesk.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5519,
          "optimized": true
        }
      },
      {
        "file": "img/partners/kommesk.png",
        "config": {
          "originalSize": 6368,
          "optimized": true
        }
      },
      {
        "file": "img/partners/london almaty.png",
        "config": {
          "originalSize": 3204,
          "optimized": true
        }
      },
      {
        "file": "img/partners/london_almaty.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 3702,
          "optimized": true
        }
      },
      {
        "file": "img/partners/nomad.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 11855,
          "optimized": true
        }
      },
      {
        "file": "img/partners/nomad.png",
        "config": {
          "originalSize": 11233,
          "optimized": true
        }
      },
      {
        "file": "img/partners/victoria.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 8977,
          "optimized": true
        }
      },
      {
        "file": "img/partners/victoria.png",
        "config": {
          "originalSize": 13234,
          "optimized": true
        }
      },
      {
        "file": "img/payments.jpg",
        "config": {
          "preserveOriginal": false,
          "originalSize": 67271,
          "optimized": true
        }
      },
      {
        "file": "img/payments.png",
        "config": {
          "originalSize": 38571,
          "optimized": true
        }
      },
      {
        "file": "img/text_clip.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 80
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 54297
        }
      },
      {
        "file": "img/text_clip.png",
        "config": {
          "originalSize": 255205,
          "optimized": true
        }
      },
      {
        "file": "js/main.js",
        "config": {
          "customOutput": "js/main.js"
        }
      }
    ]
  }
}
