.about {
    background-color: #F8F8F8;
    padding: 180px 250px 180px 120px;
    font-size: 36px;
    line-height: 60px;
    // .about__content

    &__content {
        font-size: 36px;
        font-weight: bold;

        span {
            color: #FF4F5A;
        }
    }
}

@media screen and (max-width: 1024px) {
    .about {
        &__content {
            font-size: 24px;
        }
    }   
}

@media screen and (max-width: 512px) {
    .about {
        &__content {
            font-size: 16px;
        }
    }
}