.about {
    background-color: #F8F8F8;
    font-size: 36px;
    line-height: 60px;
    // .about__content

    &__content {
        font-size: 36px;
        font-weight: bold;

        span {
            color: #FF4F5A;
        }
    }
}

@media screen and (max-width: 1024px) {
    .about {
        &__content {
            font-size: 25px;
            line-height: 40px;
        }
    }   
}

@media screen and (max-width: 512px) {
    .about {
        padding: 70px 25px;

        &__content {
            font-size: 18px;
            line-height: 28px;
        }
    }
}