.advantages {

    margin: 50px 0;

    // .advantages__img

    &__img {
        margin: auto 0;
        max-width: 462px;
        max-height: 345px;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid {

    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;

    // .grid_description

    &_description {
        font-size: 18px;
    }

    // .grid__items

    &__items {
        max-width: 100%;
    }

    // .grid__title

    &__title {
        font-size: 29px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 996px) {
    .advantages {
        display: grid;
        justify-content: center;

        // .advantages__img
    
        &__img {
            margin: auto 0;
            max-width: 242px;
        }
    }

    .row {
        grid-template-columns: 1fr;
    }

    .grid {

        margin-top: 50px;
        grid-template-columns: 1fr 1fr;

        // .grid_description
    
        &_description {
            font-size: 14px;
        }
    
        // .grid__title
    
        &__title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}