.advantages {
    position: relative;

    // .advantages__title

    &__title {
        font-size: 72px;
        font-weight: bold;
        text-transform: uppercase;
        color: #FF4F5A;
    }

    &__beatify::after {
        content: '&';
        position: absolute;
        top: 0px;
        left: 35%;
        font-size: 350px;
        font-weight: bold;
        color: rgba(255, 79, 90, .1);
        z-index: -1;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid {

    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;

    // .grid__items

    &__items {
        max-width: 100%;
    }

    // .grid__title

    &__title {
        font-size: 29px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .advantages {
        &__beatify {
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .advantages {
        display: grid;
        justify-content: center;

        // .advantages__img
    
        &__title {
            margin: auto;
            font-size: 60px;
        }
    }

    .row {
        grid-template-columns: 1fr;
    }

    .grid {

        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    
        // .grid__title
    
        &__title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .advantages__title{
        font-size: 40px;
    }
    .grid_description{
        font-size: 14px;
    }
}