.advantages {
    // .advantages__title

    &__title {
        font-size: 96px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;  /* Fallback: assume this color ON TOP of image */
        background: url('/img/text_clip.png') no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid {

    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr 1fr;

    // .grid__items

    &__items {
        max-width: 100%;
    }

    // .grid__title

    &__title {
        font-size: 29px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 996px) {
    .advantages {
        display: grid;
        justify-content: center;

        // .advantages__img
    
        &__title {
            margin: auto;
            font-size: 60px;
        }
    }

    .row {
        grid-template-columns: 1fr;
    }

    .grid {

        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    
        // .grid__title
    
        &__title {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .advantages__title{
        font-size: 40px;
    }
    .grid_description{
        font-size: 14px;
    }
}