.faq{

    &__questions{
        margin: 70px 0;
    }

    &__question{
        margin-bottom: 35px;
    }

    &__answer{

        &:after{
            right: -1em;
            background-size: 2em 3em;
        }

        &:before{
            content: '';
            position: absolute;
            height: 1px;
            width: calc(100% - 1.5em);
            left: 0;
            bottom: -7px;
            background: #000;
        }
    }

    &__list{
        padding-left: 50px;
        margin: 20px 0;

        li{
            margin-bottom: 20px;
        }

        &.list-number{
            list-style: decimal;
        }
    }

    &__text{
        font-weight: normal;
        font-size: 28px;
        width: 31%;
        align-self: flex-end;
    }

    &__requirements{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    &__documents{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 100px 0;
    }

    &__document{
        max-width: 280px;
        min-width: 180px;
        margin: 0 30px;
    }
}

.point {
    font-size: 48px;
    margin-bottom: 30px;
    padding: 0 40px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 50px;
        border: 1px solid #000;
        border-radius: 360px;
        top: -20px;
        left: 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
}

@media screen and (max-width: 1400px){
    .faq{
        &__text{
            width: 45%;
        }
    }
}

@media screen and (max-width: 1000px){
    .faq{
        &__text{
            width: 60%;
            align-self: center;
            text-align: center;
        }
        &__documents{
            flex-direction: column;
            align-items: center;
        }
        &__document{
            margin: 30px 0;
        }
        &__document-text{
            text-align: center;
        }
    }
    .point{
        padding: 0;
        margin: 0 auto 30px auto;
        text-align: center;

        &:before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 700px){
    .faq{
        &__questions{
            font-size: 16px;
        }

        &__text{
            width: 100%;
        }
        &__documents{
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 700px){
    .faq__text{
        font-size: 23px;
    }
    .faq__list{
        padding-left: 25px;
    }
}