.footer {
    display: grid;
    height: 300px;
    align-content: center;
    background-image: url('/img/footer_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-grid {

    display: grid;
    padding: 0 20px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);

        &__img {
            max-width: 161px;
            max-height: 54px;
        }

        &__items {
            &_company {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

		&__title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
		}

		&__description {
            font-size: 14px;
        }
        
        &__link {
            color: #000;
            text-decoration: underline;
        }
}

@media screen and (max-width: 1180px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        grid-gap: 1em;

        &__img {
            max-width: 85px;
        }

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        &__description {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 378px) {
    .footer {
        height: 100%;
        padding: 20px 0;
    }
    .footer-grid {
        grid-template-columns: 1fr;

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        &__description {
            font-size: 12px;
        }
    }
}
