.form{
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    height: 500px;
    width: 100%;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 68px 0 40px 125px!important;
    }

    &__title{
        font-size: 46px;
        position: relative;
        margin-bottom: 30px;
        grid-row: 1/2;

        &::after{
            content: "";
            height: 5px;
            width: 50px;
            background: black;
            position: absolute;
            left: 0;
            bottom: -16px;
        }
    }

    &__img{
        height: 100%;
        min-width: 650px; 
        background-image: url(../img/form-car.png);
        background-repeat: no-repeat;
        background-size: cover;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    &__input{
        align-self: flex-end;
        transform: translateX(100px);
    }

    &__more{
        grid-row: 4/5;
    }
} 

@media screen and (max-width: 1000px){
    .form{
        display: block;
        height: 700px;

        &__container{
            padding: 68px 60px!important;
        }

        &__input{
            align-self: flex-start;
            transform: translateX(100px);
            margin-bottom: 50px;
        }

        &__img{
            display: none;
        }

    }
}