.navbar {

	height: 100px;
	padding: 30px 120px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	position: fixed;
	background: white;
	width: 100%;
	z-index: 999;
	
	    // .navbar__btn

		&__btn {
			margin: 0 auto;
			display: inline-block;
			color: #fff;
			background-color: #FF4F5A;
			padding: 18px 50px;
		} 
input + label {
	// display: none;
	position: fixed;
	top: 40px;
	right: 40px;
	height: 20px;
	width: 15px; 
	z-index: 5;
	span {
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  top: 50%;
	  margin-top: -1px;
	  left: 0;
	  display: block;
	  background: black;
	  transition: .5s;
	}
	span:first-child {
	  top: 3px; 
	}
	span:last-child {
	  top: 16px; 
	}      
  }
  label:hover {
	cursor: pointer;
  }
  input:checked + label { 
	span {
	  opacity: 0;
	  top: 50%;
	}
	span:first-child {
	  opacity: 1;
	  transform: rotate(405deg);
	}
	span:last-child {
	  opacity: 1;
	  transform: rotate(-405deg);
	}
  }
  input ~ nav {		
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 3;
	transition: .5s;
	transition-delay: .5s;
	overflow: hidden;
	> ul {
	  text-align: center;
	  position: absolute;
	  top: 35%;
	  left: 20%;
	  right: 20%;
	  > li {
		opacity: 0;
		transition: .5s;
		transition-delay: 0s;
		> a {
		  text-decoration: none;
		  text-transform: uppercase;
		  color: #000;
		  font-weight: 700;
		  font-family: sans-serif;
		  display: block;
		  padding: 30px;
		}
	  }
	}
  }
  input:checked ~ nav { 
	height: 100%;
	transition-delay: 0s;
	> ul {
	  > li {
		opacity: 1;
		transition-delay: .5s;
	  }
	}
  } 
}
.logo {
	display: inline-block;
	width: 150px;
	height: 28px;
	margin: auto 0;
}
.menu {

	display: inline-block;
	margin: auto;

		// .menu__items

		&__items {
			display: inline-block;
			color: #000;
			padding: 0 20px;
			font-size: 18px;
			letter-spacing: 3.5px;
		}
}

@media screen and (max-width: 1400px) {
	.navbar{
		padding: 30px 60px;
	}
}	
