.navbar {
	top: 0;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	justify-items: center;
	position: fixed;
	background: white;
	width: 100%;
	z-index: 999;
	
	    // .navbar__btn

		&__btn {
			grid-column: 3;
			display: inline-block;
			color: #fff;
			background-color: #FF4F5A;
			padding: 18px 50px;
		}  
}
.logo {
	display: inline-block;
	width: 150px;
	height: 28px;
	margin: auto 0;
}
.menu {

	display: inline-block;
	margin: auto;
	background: #fff;

		// .menu__items

		&__items {
			display: inline-block;
			color: #000;
			padding: 0 20px;
			font-size: 18px;
			letter-spacing: 3.5px;
		}

		&__btn{
			display: none;
			position: relative;
			width: 80px;
			height: 80px;
			cursor: pointer;
			transition: .5s;
		}

		&__burger{
			width: 25px;
			height: 3px;
			background: #000;
			border-radius: 5px;
			transition: .5s;

			&::before, &::after{
				content: '';
				position: absolute;
				width: 25px;
				height: 3px;
				background: #000;
				border-radius: 5px;
				transition: .5s;	
			}

			&::before{
				transform: translateY(-8px);
			}

			&::after{
				transform: translateY(8px);
			}

		}

		&__btn.open{
			.menu__burger{
				transform: translateX(25px);
				background: transparent;

				&::before{
					transform: rotate(-45deg) translate(-17px, -17px);
				}
				&::after{
					transform: rotate(45deg) translate(-17px, 17px);
				}
			}

		}
}

@media screen and (max-width: 1400px) {
	.navbar{
		grid-template-columns: 1fr 3fr 1fr .5fr;
	}
	.menu{
		border-bottom: 1px solid #c4c4c4;
		display: none;
		grid-row: 2;
		grid-column: 1/5;
		width: 100%;
		
		&__btn{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
		}

		&.open{
			display: block;
		}

		&__items{
			display: block;
			margin: 10px 0;
		}
    }
}	
@media screen and (max-width: 700px){
	.navbar{
		position: relative;

		&__btn {
			padding: 14px 20px;
		}
	}
}
