.offer {
	// height: 90vh;
}

.content {
	display: grid;
    grid-template-columns:1fr 3fr 1fr;
    height: 100%;
		// .header-content__img

		&__img {
			margin: auto 0;
			max-width: 821px;
		}
}
.description {

	margin: auto 0;

		// .description__title

		&__title {
			font-size: 4rem;
        }
        
        &__subtitle{
            font-size: 2rem;
            font-weight: bold;
			margin-bottom: 70px;
        }

		// .description__btn

		&__btn {
			border: 1px solid black;
			padding: 30px 40px 30px 60px;
			width: 300px;
			display: grid;
            grid-template-columns: 1fr 1fr;
            cursor: pointer;

            &:hover{
                .description__img{
                    transform: translateX(10px);
                    transition: .3s;
                }
            }
        }
        

		// .description__link

		&__link {
			color: #000;
			text-transform: uppercase;
			font-size: 22px;
		}

		// .description__img

		&__img {
			margin: auto;
            transition: .3s;
		}
}

@media screen and (max-width: 1400px){
    .content{
        grid-template-columns: 1fr;
        justify-content: center;
        padding-top: 125px;

        &__img{
            height: 500px;
            margin: 0 auto;
        }
    }
    .description{
        text-align: center;
    }
    .description__btn{
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px){
    .content{
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 125px 0;

        &__img{
            height: 325px;
            margin: 0 auto;
        }
    }
    .menu{
        min-width: 650px;
    }
    .description__title{
        text-align: center;
        font-size: 60px;
    }
    .description__btn{
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px){
    .content{
        padding: 60px 0;
    }
    .content__img{
        height: auto;
        width: 90%;
    }
    .description{
        &__title{
            font-size: 40px;
        }
        &__link{
            font-size: 20px;
        }
        &__btn{
            padding: 20px 35px 20px 71px;
        }
    }
}