.offer {
    // height: 90vh;
    
    &__form{
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
    }

    &__submit{
        padding: 40px 30px;
        box-shadow: 0px 20px 50px rgba(255, 79, 90, 0.5);
        border-radius: 360px;
        background-color: #FF4F5A;
        margin-left: 20px;
    }
}

.content {
	display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4em;

    height: 100%;
		// .header-content__img

		&__img {
			margin: auto 0;
			max-width: 821px;
		}
}
.description {

	margin: auto 0;

		// .description__title

		&__title {
			font-size: 68px;
        }
        
        &__subtitle{
            font-size: 45px;
            font-weight: bold;
            margin-bottom: 70px;
            // margin-top: 15px;
        }

		// .description__btn

		&__btn {
			border: 1px solid black;
			padding: 30px 40px 30px 60px;
			width: 300px;
			display: grid;
            grid-template-columns: 1fr 1fr;
            cursor: pointer;

            &:hover{
                .description__img{
                    transform: translateX(10px);
                    transition: .3s;
                }
            }
        }
        

		// .description__link

		&__link {
			color: #000;
			text-transform: uppercase;
			font-size: 22px;
		}

		// .description__img

		&__img {
            margin: auto;
            width: 50px;
            transition: .3s;
		}
}

@media screen and (max-width: 1400px){
    .offer__form{
        justify-content: center;
    }
    .content{
        grid-template-columns: 1fr;
        justify-content: center;
        padding-top: 125px;

        &__img{
            height: 500px;
            margin: 0 auto;
        }
    }
    .description{
        text-align: center;
    }
    .description__btn{
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px){
    .content{
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 125px 0;

        &__img{
            height: 325px;
            margin: 0 auto;
        }
    }
    .description__title{
        text-align: center;
        font-size: 60px;
    }
    .description__btn{
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px){
    .offer{
        padding: 0;
    }
    .content{
        padding: 60px 0;
    }
    .content__img{
        height: auto;
        width: 90%;
    }
    .description{
        &__title{
            font-size: 40px;
            line-height: 35px;
        }
        &__link{
            font-size: 20px;
        }
        &__btn{
            padding: 20px 35px 20px 71px;
        }
    }
}