$font_text: 18px;
$font_title: 25px;
$font_category: 40px;

.pay{
    font-size: $font_text;

    br{
        margin-bottom: 20px;
    }

    .title{
        font-size: $font_category;
        margin-bottom: 30px;
        transition: .3s;

        &::after{
            width: 100px;
            bottom: -15px;
        }
    }

    &__questions{
        padding: 40px 0;
    }

    &__question{
        color: #FF4F5A;
        font-size: $font_title;
        transition: .3s;
    }
    
    &__img{
        height: 175px;
        margin: 80px 0;
        display: block;
    }
}

@media screen and (max-width: 1150px){
    .pay{
        &__question{
            font-size: 27px;
            transition: .3s;
        }
    } 
}

@media screen and (max-width: 850px){
    .pay{
        .title{
            font-size: 35px;

            &::after{
                bottom: -15px;
                width: 50px;
            }
        }

        &__questions{
            padding: 40px 0;
        }
    } 
}

@media screen and (max-width: 500px){
    .pay{
        .title{
            font-size: 30px;
        }
        .pay__container{
            padding: 0;
        }
        &__img{
            height: 70px;
        }
    }
}

