$font_text: 18px;
$font_title: 25px;
$font_category: 40px;

.pay{
    font-size: $font_text;

    br{
        margin-bottom: 20px;
    }

    .title{
        font-size: $font_category;
        margin-bottom: 30px;
        transition: .3s;

        &::after{
            width: 100px;
            bottom: -15px;
        }
    }

    &__questions{
        padding: 40px 0;
    }

    &__question{
        color: #FF4F5A;
        font-size: $font_title;
        transition: .3s;
    }
    
    &__img{
        height: 175px;
        margin: 80px 0;
        display: block;
    }

    summary::-webkit-details-marker{display:none;}
    summary::-moz-list-bullet{list-style-type:none;}
    summary::marker{display:none;} 
    summary {
    outline: none;
    display:inline-block;
    padding: .3em 1.5em 0 0;
    cursor: pointer;
    position: relative;
    }
    summary:after {  
    right: -.3em;
    top: .4em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;  
    content: "";
    position: absolute;
    transition: transform .5s;
    }
    details[open] > summary:after {
    transform: rotateZ(90deg);
    }
    summary ~ * {
        margin-top: 35px;
    }
    details[open] summary ~ *{ 
    animation: sweep .5s ease-in-out;
    }
    @keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
    }
    details{
    display:block;
    margin-bottom: .5rem;
    }
}

@media screen and (max-width: 1150px){
    .pay{
        &__question{
            font-size: 27px;
            transition: .3s;
        }
    } 
}

@media screen and (max-width: 850px){
    .pay{
        .title{
            font-size: 35px;

            &::after{
                bottom: -15px;
                width: 50px;
            }
        }

        &__questions{
            padding: 40px 0;
        }
    } 
}

@media screen and (max-width: 500px){
    .pay{
        .title{
            font-size: 30px;
        }
        .pay__container{
            padding: 0;
        }
        &__img{
            height: 70px;
        }
    }
}

