@import "header";
@import "offer";
@import "float-action-button";
@import "advantages";
@import "about";
@import "faq";
@import "important";
@import "partners";
@import "map";
@import "footer";
@import "/fonts/Golos/stylesheet.css";

@import "payments";
@import "slick";

@import "util/variables.scss";
 
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Golos Text';
    text-decoration: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 18px;
}

button, .btn{
    border: none;
    cursor: pointer;
    outline: none;
}


br{
    margin-bottom: 20px;
}
section{
    padding: 100px;
}

.container {
    // max-width: 1360px;height: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}

.divider {
    height: 5px;
    width: 25px;
    background-color: #000;
    margin-bottom: 35px;
}

.purple-font{
    color: $primary_color;
}

.title{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    
    &::after{
        content: "";
        height: 5px;
        width: 50px;
        background: black;
        position: absolute;
        left: 0;
        bottom: -16px;
    }
}

.more{
    &__text{
        font-size: 20px;
        margin-right: 10px;
    }
    &__btn{
        width: 50px;
        height: 50px;
        border: 1px solid #E6E6E6;
        border-radius: 360px;
        background: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.phone-form{
    padding: 40px 80px 40px 0px;
    align-items: center; 
    position: relative;
    background: none;
    border: 1px solid #C4C4C4;
    border-radius: 360px;
    max-width: 380px;
    display: inline-flex;
    letter-spacing: 0.2em; 
    
    &:before{
        content: "Расчитать стоимость";
        color: #c4c4c4;
        position: absolute;
        top: -50px;
        left: 0px;
        font-size: 18px;
        letter-spacing: normal;
        display: block;
        font-weight: bold;
    }
    &.invalid:before{
        content: "Введите корректный номер";
    }

    &.error:before{
        content: "Прозошла ошибка, попробуйте позже";
    }

    &.send:before{
        content: "Номер успешно отправлен!";
    }

    &.invalid{
        border-color: red!important;
    }

    &__flag-box{
        padding: 0 10px 0 30px;
        cursor: pointer;

        // &:hover{
        //     background: rgba(#000, 0.5);
        // }
    }

    &__countries{
        display: none;
        position: absolute;
        top: 80px;
        background: white;
        box-shadow: 0px 20px 50px rgba(#000, 0.5);
        border-radius: 20px;
        padding: 20px;

        &.open{
            display: block;
        }
    }

    &__countries-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__flags{
        margin-right: 10px;
    }

    &__flag{
        position: relative;

        &:before{
            content: "";
            background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
            width: 1em;
            height: 1em;
            top: -4px;
            left: -20px;  
            transform: rotate(90deg);
            position: absolute;
        }

        &.flag_ru::before{
            top: 0;
        }
    }
     
    &__country-code{
        margin-right: 0.4em;
    }

    &__input{
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2em;
        max-width: 180px;
    }
}

.submit{
    display: flex;
    align-items: center;
    justify-content: space-around;

    &.load{
    
        img{
            display: none;
        }
        
        &::after{
            content: "";
            border: 2px solid white;
            border-radius: 360px; 
            border-right-color: transparent;
            height: 25px;
            width: 25px;
            display: block;
            -webkit-animation: load 1.4s infinite linear;
            animation: load 1.4s infinite linear;
        }
        &:hover{
            transform: scale(1) ;
        }
    }

}

.disabled{
    cursor: auto;
    
    &:hover{
        transform: scale(1) ;
    }
}

@media screen and (max-width: 700px){
    .offer__form{
        flex-wrap: wrap;

        .submit{
            height: 65px;
            width: 65px;
            img{ width: 25.5px; }
        }
    } 

    .phone-form{
        padding: 20px 40px 20px 0;
        font-size: 15px;
        &:before{
            top: -40px;
        }

        .phone{
            font-size: 15px;
            max-width: 145px;
        }
        
        .countries-list{
            top: 50px;
        }
    }
}

@media screen and (max-width: 400px){
    .submit#phone0{
        margin-top: 10px;
        height: 50px;
        width: 100px;
        align-self: flex-end;

        img{
            width: 30px;
        }
    }
}

@-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.flag{
    height: 10px;
    width: 20px;
    background-image: url(../img/flags.png);
    
    &_kz{
    background-position: -2853px 0;
    }

    &_ru{
        height: 15px;
        background-position: -4295px 0;
    }

    &_kg{
        height: 12px;
        background-position: -2655px 0;
    }

    &_ua{
        height: 13px;
        background-position: -5175px 0;
    }

    &_blr{
        background-position: -790px 0;
    }
}

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
    outline: none;
    display:inline-block;
    padding: .3em 1.5em 0 0;
    cursor: pointer;
    position: relative;
    
    &:after{
        right: -.3em;
        top: .4em;
        color: transparent;
        background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
        width: 1em;
        height: 1em;  
        content: "";
        position: absolute;
        transition: transform .5s;
    }

    & ~ *{
        margin-top: 35px;
    }
}

details{
    display:block;
    margin-bottom: .5rem;
    &[open]{
        
        & > summary:after{
            transform: rotateZ(90deg);
        }
        & summary ~ *{ 
            animation: sweep .5s ease-in-out;
        }
    }
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

@media screen and(max-width: 722px) {
    section{
        padding: 100px 50px;
    }
    .input-phone{
        font-size: 16px;

        &__block{
            min-width: 250px;
            max-height: 70px;
            max-width: 80vw;
            display: flex;
            align-items: center;
            padding: 30px 50px;
            grid-template-columns: 1fr 1fr;
        }

        &__submit{
            width: 70px;
            height: 70px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
    
            img{
                width: 30px;
            }
        }
    }
}

@media screen and(max-width: 486px){
    section{
        padding: 80px 20px;
    }
    .input-phone {
        font-size: 13px;

        &__block {
            max-height: 50px;
            min-width: 270px;
            padding: 29px 30px;
        }

        &__countries{
            top: 50px;
        }

        &__input{
            font-size: 13px;
        }

        &__flag-box{
            width: 30px;
        }

        &__submit{
            width: 60px;
            height: 60px;
        }
    }

    .title {
        font-size: 30px;
    }
}
