@import "header";
@import "advantages";
@import "about";
@import "faq";
@import "form";
@import "partners";
@import "map";
@import "footer";
@import "/fonts/Golos/golos.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Golos';
    text-decoration: none;
}
