@import "header";
@import "offer";
@import "advantages";
@import "about";
@import "faq";
@import "form";
@import "partners";
@import "map";
@import "footer";
@import "/fonts/Golos/stylesheet.css";

@import "payments";
 
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Golos Text';
    text-decoration: none;
    box-sizing: border-box; 
}

body{
    overflow-x: hidden;
}

button, .btn{
    border: none;
    cursor: pointer;
}

section{
    margin-top: 100px;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}

.divider {
    height: 5px;
    width: 25px;
    background-color: #000;
    margin-bottom: 35px;
}

.title{
    font-size: 46px;
    margin-bottom: 30px;
    position: relative;
    
    &::after{
        content: "";
        height: 5px;
        width: 50px;
        background: black;
        position: absolute;
        left: 0;
        bottom: -16px;
    }
}
 
.input-phone{
    display:grid;
    align-content: center;

    font-size: 18px;

    &__text{
        margin-bottom: 25px;
        display: block;
    }

    &__block{
        min-width: 500px;
        max-height: 100px;
        border: 1px solid black;
        padding: 40px;
        display: inline-block;
        position: relative;
    }

    &__flag-box{
        height: 100%;
        width: 50px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        background: none;
        cursor: pointer;

        &:hover{
            background: rgba(#000, 0.5);
        }

    }

    &__flags{

    }

    &__code{
        margin-left: 7px;
    }

    &__countries{
        display: none;
        background-color: #fff;
        border: 1px solid black;
        position: absolute;
        left: -1px;
        top: 70px;
        padding: 13px 8px;

        &.open{
            display: block;
        }

        &-element{
            margin-bottom: 13px;
            cursor: pointer;

            &:hover{
                background: rgba(#000, 0.1);
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__country-code{
        margin: 0 8px;
    }

    &__input{
        border: none;
        background: none;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }

    &__submit{
        width: 100px;
        height: 100px;
        position: absolute;
        right: -1px;
        top: -1px;
        background: #FF4F5A;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img{
            width: 40px;
        }
    }
}

.more{
    &__text{
        font-size: 20px;
        margin-right: 10px;
    }
    &__btn{
        width: 50px;
        height: 50px;
        border: 1px solid #E6E6E6;
        border-radius: 360px;
        background: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}


.flag{
    height: 10px;
    width: 20px;
    background-image: url(../img/flags.png);
    
    &_kz{
    background-position: -2853px 0;
    }

    &_ru{
        height: 15px;
        background-position: -4295px 0;
    }

    &_kg{
        height: 12px;
        background-position: -2655px 0;
    }

    &_ua{
        height: 13px;
        background-position: -5175px 0;
    }

    &_blr{
        background-position: -790px 0;
    }
}

@media screen and(max-width: 722px) {
    .input-phone{
        font-size: 16px;

        &__block{
            min-width: 250px;
            max-height: 70px;
            display: grid;
            align-content: center;
            padding: 30px 50px;
            grid-template-columns: 1fr 1fr;
        }

        &__submit{
            width: 70px;
            height: 70px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
    
            img{
                width: 30px;
            }
        }
    }
}

@media screen and(max-width: 486px){
    .input-phone {
        &__block {
            min-width: 330px;
            max-height: 50px;
            padding: 29px 50px;
        }

        &__submit{
            width: 60px;
            height: 60px;
        }
    }

    .title {
        font-size: 30px;
    }
}